extends layout
append css
  link(rel="stylesheet", href="/stylesheets/main.css")

append content
  .navbar.navbar-static-top(style="position:fixed;width:100%;")
    .container-fluid
      .nav.navbar-form
        .row
          .btn-toolbar.pull-left
            .btn-group
              button.btn.btn-default(data-bind="click:function(){ show_notebooks(!show_notebooks())}")
                | notebooks

          .btn-toolbar.pull-left(data-bind="if : current_notebook", style="margin-left:10px")
            .btn-group
              button.btn.btn-default(data-bind="click:function(){ current_notebook().exec() }")
                | exec notebook
              button.btn.btn-default(data-bind="click:function(){ current_notebook().add_note() }")
                | add note
              a.btn.btn-default(
                target="blank",
                data-bind="attr:{ href: '/bookpage/notebook/' + current_notebook().id +'/export' }")
                i.glyphicon.glyphicon-export
                | exports

          .btn-toolbar.pull-left(data-bind="if : current_note", style="margin-left:10px")
            .btn-group
              button.btn.btn-default(data-bind="click:function(){ current_notebook().insert( current_note()) }")
                | insert note before
              button.btn.btn-default(data-bind="click:function(){ current_note().exec() }")
                | exec note
              button.btn.btn-danger(data-bind="click:function(){ current_notebook().delete(current_note()) }")
                | delete note

  hr.navhr
  
  .notebook_list(data-bind="css: { active : show_notebooks }")
    //- div(style="heigth:50px")
    .container-fluid
      .form.form-horizontal
        .form-group
          button.btn.btn-default(data-bind="click:add_notebook")
            | add notebook

    ul.list-group(data-bind="foreach : notebooks")
      li.list-group-item(data-bind="css:{ active: $data == $root.current_notebook() },\
                                    click: function(){ $root.switch_notebook( $data ); }")
        //- span.badge 14
        .btn-group.pull-right
          .btn.btn-default.btn-xs(data-bind="click: $root.edit_notebook")
            i.glyphicon.glyphicon-edit
          .btn.btn-default.btn-xs(data-bind="click: $root.remove_notebook")
            i.glyphicon.glyphicon-remove
        span(data-bind="text: name() || id, attr:{ title : desc }")

  +ko('if : current_notebook')
    .container-fluid(data-bind='foreach : current_notebook().notes', style="margin-top:50px;")
      div(data-bind='click : function(){ $root.current_note($data) }')
        .note(data-bind="css:{ 'current' : $data == $root.current_note() } ")
          .row
            .col-xs-12
              .editor(data-bind="editor")

        +ko('if : $data.res')
          .note-res(data-bind="css:{ 'current' : $data == $root.current_note() } ")
            .res-container(data-bind='with : $data.res')
              each res in ['stdout','stderr','exceptions','exports']
                .row(data-bind="if : $data.#{res} && #{res}.length")
                  .col-xs-1
                    .res_label=res
                  .col-xs-11
                    pre(data-bind="text : #{res}")

  #notebook_edit.modal(role='dialog', tabindex='-1')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title edit notebook
        .modal-body
          .form
            .form-group
              label name
              input.form-control(type='text', placeholder='name', name="name")
            .form-group
              label desc
              textarea.form-control(type='text', placeholder='desc', name="desc")

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') cancel
          button.btn.btn-primary(type='button', data-label="confirm") confirm


append js
  script(type="application/javascript", src="//cdn.staticfile.org/ace/1.1.3/ace.js")
  script(type="application/javascript", src="//cdn.staticfile.org/ace/1.1.3/ext-language_tools.js")
  script.
    var notes = !{JSON.stringify(notes || [])};
  script(src="/javascripts/bookpage.js")
